<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= file.filename %></title>
    <style>
        textarea {
            width: 75%;
            height:600px; 
        }
    </style>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1><%= file.filename %></h1>
    <p ><b>Created by: </b><p id="fileOwner"><%= file.fileOwner %></p></p>
    <p ><b>Share Code: </b><p id="shareCode"><%= file.shareCode %></p></p>
    <textarea id="formatted-input" readonly><%= file.content %></textarea>
    
    <form id="form">
        <input id="recievedUser" type="text" name="recievedUser" required />
        <input type="submit"/>
    </form>
    <div id="custom-div-container">
        <p id="custom-id"></p>
    </div>
</body>
<script>
    var socket = io()
let formattedInput = document.getElementById("formatted-input").value.replace(/\n,/g, "\n")

document.getElementById("formatted-input").value = formattedInput

async function sendFile(e){
    e.preventDefault();
    const recievedUser = document.getElementById("recievedUser")
    const fileOwner = document.getElementById("fileOwner")
    const shareCode = document.getElementById("shareCode")
    const divCustomId = document.getElementById("custom-id")

    const response = await fetch('/api/v1/user/sendFile', {
        method:"post",
        body:JSON.stringify({
            recievedUser: recievedUser.value,
            fileOwner: fileOwner.textContent,
            shareCode: shareCode.textContent,
            codeScript: formattedInput
        }),
        headers:{
            "Content-Type":"application/json"
        }
    })

    const finalResponse = await response.json()

    console.log(finalResponse)
}

const form = document.getElementById("form")

form.addEventListener("submit", sendFile)


</script>
</html>